$background-color: #ececec;
$stickers-menu: linear-gradient(#446e9b 50%, #3e648d, #6d94bf);
$secondary-gradient: linear-gradient(#4c6786, #375678 50%, #32506e);
$primary-gradient: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
$found-color: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
$selected-color: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
$interview-color: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
$confirmed-color: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
$unsuitable-color: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
$refused-color: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
$primary-color: #446e9b;
$active-color: #adff2f;
